html {
    margin: 0;
    padding: 0;
    display: grid;
}

li {
    list-style-type: none;
}

/* For mobile view */
@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        /* fix the logo!! */
        background-image: url("../images/Logo_Marciapan.png");
        height: 100px;

    }

    h1 {
        font-size: 5vw;
    }

    footer {
        background-color: lightblue;
    }

    img{
        max-width: 100%;
    }

    .credits{
        justify-content: center;
    }

    .navlink {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 3vw;
    }

    .navitem:hover {
        background-color: #111;
    }

    .navbar {
        color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    .navitem {
        float: left;
        padding-left: 1%;
        padding-right: 1%;
        padding: 8px;
        display: block;
        text-decoration: none;
        color: white;
        font-size: 3vw;
    }

    .navitem:first-child {
        padding-left: 5%;
    }

    .navitem:last-child {
        float: right;
        padding-right: 5%;
    }

    .footer {
        display: inline-block;
        padding-inline-start: 0;
        margin: 0;
        padding: 10px;
    }

    .footerlink{
        color: white;
        text-decoration: none;
    }

    .lists {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image{
        display: block;
        border-radius: 5%;
        width: 50%;
        height: 50%;
    }

    .sketchbookimage{
        border-radius: 5%;
        width: 70%;
    }

    .test{
        display: flex;
        align-items: center;
        padding: 10px;
        
    }

    .test2{
        display: flex;
        align-items: center;
        padding: 10px;
        flex-direction: row-reverse;
    }
    .hortxt{
        padding: 0;
        margin: 0;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
    }

    .header{
        margin-top: 0;
        margin-bottom: 0;
    }

    .indexTxt{
        margin-top: 0;
        margin-bottom: 0;
    }

    .indexButton{
        color: pink;
    }

    .scroll{
        margin: 1em;
        overflow: auto;
        white-space: nowrap;
    }
}

/* For desktop view */
@media only screen and (min-width: 768px) {

    h1 {
        color: purple;
        font-size: 2vw;
        padding: 10px;
    }

    li a {
        padding: 8px;
        display: block;
        text-decoration: none;
        color: white;
    }

    li a:hover {
        background-color: #111;
    }

    .navbar {
        color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    .navitem {
        float: left;
        padding-left: 1%;
        padding-right: 1%;
    }

    .navitem:first-child {
        padding-left: 5%;
    }

    .navitem:last-child {
        float: right;
        padding-right: 5%;
    }

}